@font-face {
  font-family: 'tomorrow';
  src: url('fonts/tomorrow.eot?lws47e');
  src: url('fonts/tomorrow.eot?lws47e#iefix') format('embedded-opentype'),
    url('fonts/tomorrow.ttf?lws47e') format('truetype'),
    url('fonts/tomorrow.woff?lws47e') format('woff'),
    url('fonts/tomorrow.svg?lws47e#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tomorrow' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-bell:before {
  content: '\e900';
}
.ic-bookmark-filled:before {
  content: '\e901';
}
.ic-bookmark:before {
  content: '\e902';
}
.ic-BookmarkFilled:before {
  content: '\e903';
}
.ic-caret:before {
  content: '\e904';
}
.ic-cart:before {
  content: '\e905';
}
.ic-check:before {
  content: '\e906';
}
.ic-chevron:before {
  content: '\e907';
}
.ic-close:before {
  content: '\e908';
}
.ic-community:before {
  content: '\e909';
}
.ic-expert:before {
  content: '\e90a';
}
.ic-favicon .path1:before {
  content: '\e90b';
  color: rgb(61, 165, 245);
}
.ic-favicon .path2:before {
  content: '\e90c';
  margin-left: -0.9921875em;
  color: rgb(255, 255, 255);
}
.ic-lock:before {
  content: '\e90d';
}
.ic-logo:before {
  content: '\e90e';
}
.ic-Menu:before {
  content: '\e90f';
}
.ic-New:before {
  content: '\e910';
}
.ic-search:before {
  content: '\e911';
}
.ic-star:before {
  content: '\e912';
}
.ic-store:before {
  content: '\e913';
}
